name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: seanmiddleditch/gha-setup-ninja@master
      - uses: actions/setup-python@v1
        with:
          python-version: '>=3.7'
          architecture: 'x64'

      - name: Install Conan
        run: ./.github/workflows/install.sh

      - name: build
        run: ./.github/workflows/build.sh
